altgraph==0.17
asgiref==3.5.0
Django==4.0.3
future==0.18.2
gunicorn==20.1.0
Jinja2==3.1.1
MarkupSafe==2.1.1
pefile==2021.5.24
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pytube==11.0.0
pywin32-ctypes==0.2.0
PyYAML==6.0
render==1.0.0
sqlparse==0.4.2
tzdata==2022.1
